@tailwind base;
@tailwind components;
@tailwind utilities;

.split-screen {
    display: flex;
}

.left-side {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #36454F;
    padding: 50px;
    text-align: middle;
    color: #FFFFF0;
    font-family: Montserrat;
    font-size: 36;
}

.right-side {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #C0C0C0;
    padding: 50px;
    text-align: center;
}

.avatar {
    text-align: center;
    vertical-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }