@tailwind base;
@tailwind components;
@tailwind utilities;

.split-screen {
    display: flex;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow to the header */
  z-index: 1000;
}

.header_nav {
  display: flex;
  justify-content: center;
}

.header_nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header_nav_ul_li {
  display: inline-block;
  margin-right: 20px; /* Adjust spacing between nav items */
}

.left-side {
    flex: 1;
    height: 100vh;
    overflow: -moz-hidden-unscrollable;
    border: 1px solid #ccc;
    background-color: #342E37;
    padding: 50px;
}

.right-side {
  flex: 1;
  height: 100vh;
  overflow: auto;
  border: 1px solid #ccc;
  background-color: #000000;
  padding: 10px 20px;
}

.avatar {
    text-align: left;
    vertical-align: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .my-name {
    text-align: center;
    text-align: middle;
    color: #FFFFF0;
    font-family: Optima;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  .about-me {
    text-align: left;
    font-family: Optima; 
    color: #FFFFF0;
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: 0.05em;
  }

  .my-text {
    text-align: center;
    font-family: Roboto; 
    color: #FFFFF0;
    font-size: 1.0rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    box-sizing: border-box;
    margin: 10px;
  }

  .my-subject {
    text-align: center;
    font-family: Optima; 
    color: #FFFFF0;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 10px;
  }

  .my-date {
    text-align: left;
    font-family: Optima; 
    color: #FFFFF0;
    font-size: 1.0rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 10px;
  }

  .button {
    background-color: #24292e;
    color: #ffffff;
    padding: 10px 20px;
    border: medium;
    border-radius: 10px;
    cursor: pointer;
    text-align: left; /* Align button text to the left */
    vertical-align: left;
    margin: 10px;
  }

  .code_block {
    box-sizing: border-box;
    text-align: justify;
    background-color: #2d2d2d;
    color: #fffff0;
    font-size: 1.0rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    border: medium;
    font-family: Optima;
    margin: 20px;
    overflow-x: auto;
    overflow-wrap: break-word;
  }

  .item-container {
    margin: 20px;
  }

.thumbnail {
  display: inline;
  vertical-align: middle; /* Align the image vertically with the text */
  margin-left: 5px;
  width: 20px; /* Set the width of the image */
  height: auto;
}